

/* About page */

.sub-hero{
	height: 360px!important;
}
.sub-hero-content{
	height: 480px!important;
}

.about-container{
/* max-width: 1400px; */
margin: 0 auto;
background: white;
}
.about-wrap{

}
.about-page-content{display: flex;max-width: 1400px;width: 100%;margin: 0 auto;padding-top: 140px;justify-content: space-between;/* padding-bottom: 120px; */padding: 80px 50px 120px 50px;}
.about-page-content .left{/* background: white; */width: 800px;min-width: 520px;/* float: left; */padding-right: 60px;}
.about-page-content .right{
	display:flex;
	flex-direction:column;
	/* float: left; */
	width: 600px;
}
.about-page-content .right img{
    margin-top: 5px;
    width: 100%;
    /* height: 400px; */
    min-width: 450px;
}
.about-page-content .right span{
	margin-top:8px;
	color:#777;
	font-size:13px;
}

#aboutpage-title{
	font-size: 28px;
	margin-top: 0px;
	padding-bottom: 25px;
	margin-bottom: 40px;
	color: #444;
	border-bottom: 3px solid rgb(235,235,235);
}

.left p a,.right span a{
	color:#333;
	border-bottom: 1px dotted #333;
	text-decoration: none;
	padding-bottom: 0px;
}
.left p{
	line-height:1.8em;
}


@media (max-width:1080px){
	div.left{
		min-width:300px!important;
	}
	.about-page-content .right img{
		/* width: 70%; */
		/* min-width: 0; */
		/* margin: 0 auto; */
	}
}

@media (max-width:940px){
	.about-page-content{
		flex-direction:column;
	}
	div.left{
		width:100%;
	}
	.about-page-content .left{
		width:100%;
		padding:0px;
		min-width:0px!important;
	}
	.about-page-content .right{
		width: 70%;
		margin: 0 auto;
		padding-top: 40px;
	}
	.about-page-content .right img{
		min-width:0;
	}
	.call-us{
		font-size:42px;
	}
}
@media (max-width:630px){
	.sub-hero-content h1{
		font-size:42px!important;
	}
	.about-page-content{
		padding:20px 20px;
	}
.about-page-content .right{
	width:100%;
}
.call-us{
		font-size:32px;
		margin:0px 20px;
	}
}